body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main {
  width: 100%;
  min-height: 100vh;
  border: 1px solid transparent;
}

main .alert {
  top: 80px;
}

main h1 {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
}

main .efetivar_plano {
  width: 70%;
  min-width: 631px;
  margin: 20px auto;
  border-radius: 5px;
  border: 2px solid #ccc;
}

main .efetivar_plano .field_duo {
  width: 85%;
  height: 40px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .efetivar_plano .field_duo .field_input_view {
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 5px;
  position: relative;
}

main .efetivar_plano .field_duo:first-child .field_input_view:first-child {
  width: 71%;
}

main .efetivar_plano .field_duo:first-child .field_input_view:last-child {
  width: 25%;
}

main .efetivar_plano .field_duo:nth-child(2) .field_input_view {
  width: 48%;
}

main .efetivar_plano .field_input_view:nth-child(3) {
  width: 85%;
  margin: 20px auto;
  height: 100px;
  border-radius: 5px;
  border: 2px solid #ccc;
  position: relative;
}

main .efetivar_plano .field_input_view span {
  position: absolute;
  top: -10px;
  left: 5px;
  background: white;
  padding: 0 3px;
  font-size: 14px;
  color: #ccc;
  font-family: "Rubik", sans-serif;
}

main .efetivar_plano .field_input_view .input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  text-align: justify;
  font-family: "Rubik", sans-serif;
}

main h1.inst {
  margin-top: 40px;
}

main .instrucoes {
  width: 70%;
  min-width: 631px;
  margin: 20px auto 80px auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  position: relative;
}

main .instrucoes ul {
  width: 550px;
  margin: 20px auto;
  line-height: 30px;
  text-align: justify;
}

main .instrucoes ul li {
  width: 100%;
  list-style: decimal;
  font-family: "Rubik", sans-serif;
}

main .instrucoes ul li:last-child span {
  font-weight: bold;
  color: #c0392b;
}

main .instrucoes .field_input {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .instrucoes h3 {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background: #01baef;
  border: 3px solid #01baef;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Rubik", sans-serif;
  transition: 0.5s;
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
}

main .instrucoes h3:hover,
main .instrucoes h3:active {
  background: white;
  color: #01baef;
}

main .instrucoes input[type="checkbox"] {
  display: none;
}

main .instrucoes input[type="checkbox"]:checked ~ .enviar {
  top: 50%;
  opacity: 1;
  pointer-events: all;
}

main .instrucoes .enviar {
  width: 250px;
  height: 150px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

main .instrucoes .enviar .title {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .instrucoes .enviar .title p {
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: rgb(107, 107, 107);
}

main .instrucoes .enviar .senha {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main .instrucoes .enviar .senha input {
  width: 70%;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0 23px 0 5px;
  outline: none;
  color: #333;
  font-family: "Rubik", sans-serif;
  transition: 0.5s;
}

main .instrucoes .enviar .senha .info::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 32px;
  left: 16%;
  background: white;
  color: #ccc;
  padding: 0 3px;
  pointer-events: none;
  font-family: "Rubik", sans-serif;
  transition: 0.5s;
}

main .instrucoes .enviar .senha .icon {
  position: absolute;
  top: 33px;
  right: 17%;
  color: #ccc;
  cursor: pointer;
  transition: 0.5s;
  font-size: 15px;
}

main .instrucoes .enviar .senha input:focus {
  border-color: #01baef;
}

main .instrucoes .enviar .senha input:focus ~ .icon {
  color: #01baef;
}

main .instrucoes .enviar .senha input:focus ~ .info::before {
  font-size: 14px;
  top: 18px;
  left: 17%;
  color: #01baef;
}

main .instrucoes .enviar .buttons {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .instrucoes .enviar .buttons button {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Rubik", sans-serif;
}

main .instrucoes .enviar .buttons button:first-child {
  border: 3px solid #e74c3c;
  background: #e74c3c;
}

main .instrucoes .enviar .buttons button:last-child {
  border: 3px solid #2ecc71;
  background: #2ecc71;
}

main .instrucoes .enviar .buttons button:first-child:hover,
main .instrucoes .enviar .buttons button:first-child:active {
  color: #e74c3c;
  background: white;
}

main .instrucoes .enviar .buttons button:last-child:hover,
main .instrucoes .enviar .buttons button:last-child:active {
  background: white;
  color: #2ecc71;
}
