body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main {
  width: 100%;
  min-height: 100vh;
  border: 1px solid transparent;
}

main .alert {
  top: 80px;
}

main h1 {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
}

main .planos {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main .planos .card {
  width: 280px;
  height: 330px;
  margin: 20px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

main .planos .card:hover,
main .planos .card.active {
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
}

main .planos .card .numeracao {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 70px;
  right: 0;
  font-size: 30px;
  font-weight: bold;
  transition: 0.5s;
  color: #ccc;
  opacity: 0;
  font-family: "Poppins", sans-serif;
}

main .planos .card:hover .numeracao,
main .planos .card.active .numeracao {
  top: 0;
  opacity: 1;
  color: white;
}

.planos .card .efect {
  opacity: 0;
}

main .planos .card:hover .efect,
main .planos .card.active .efect {
  opacity: 1;
}

.planos .card .efect:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, #771fd2);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.planos .card .efect:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #771fd2);
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.planos .card .efect:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, transparent, #771fd2);
  animation: animate3 1s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.planos .card .efect:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, transparent, #771fd2);
  animation: animate4 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

main .planos .card .title {
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

main .planos .card:hover .title,
main .planos .card.active .title {
  background: #2980b9;
}

main .planos .card .title p {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

main .planos .card:hover .title p,
main .planos .card.active .title p {
  color: white;
}

main .planos .card .valor {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

main .planos .card .valor p {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}

main .planos .card .valor p span {
  font-size: 16px;
}

main .planos .card .descricao {
  width: 100%;
  height: 190px;
  display: flex;
  align-items: center;
  padding: 10px;
}

main .planos .card .descricao p {
  color: #333;
  font-size: 16px;
  text-align: justify;
  font-family: "Rubik", sans-serif;
}

main .planos .card .btn {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main .planos .card .btn a {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  background: white;
  border: 3px solid #3498db;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3498db;
  text-decoration: none;
  transition: 0.5s;
  font-family: "Rubik", sans-serif;
}

main .planos .card .btn a:hover,
main .planos .card .btn a:active {
  background: #3498db;
  color: white;
}

main .planos .card.active .btn a {
  background: #3498db;
  color: white;
}
