body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main {
  width: 100%;
  min-height: 100vh;
  border: 1px solid transparent;
}

main .alert {
  top: 80px;
}

main h1 {
  width: 100%;
  text-align: center;
  margin-top: 140px;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
}

main #btn_excluir {
  display: none;
}

main .btn .icon-delete {
  position: absolute;
  top: 150px;
  right: 8%;
  font-size: 30px;
  color: #e74c3c;
  cursor: pointer;
  z-index: 2;
}

main .btn_excluir {
  width: 310px;
  height: 200px;
  background: #fff;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  top: 120px;
  right: 200px;
  transition: 0.5s;
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
  opacity: 0;
  pointer-events: none;
}

main #btn_excluir:checked ~ .btn_excluir {
  top: 150px;
  opacity: 1;
  pointer-events: all;
}

main .btn_excluir .title {
  width: 100%;
  padding: 10px 5px;
  border-bottom: 2px solid #ccc;
}

main .btn_excluir .title h1 {
  font-size: 16px;
  margin: 0;
  width: auto;
}

main .btn_excluir .icon_senha {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ccc;
  font-size: 80px;
  z-index: -1;
}

main .btn_excluir .buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main .btn_excluir .buttons button {
  width: 85px;
  height: 32px;
  border-radius: 5px;
  border: 3px solid transparent;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  position: absolute;
  bottom: 10px;
  transition: 0.5s;
  font-family: "Rubik", sans-serif;
}

main .btn_excluir .buttons button:first-child {
  background: #e74c3c;
  border-color: #e74c3c;
  left: 10px;
}

main .btn_excluir .buttons button:first-child:hover {
  background: #fff;
  color: #e74c3c;
}

main .btn_excluir .buttons button:first-child:active {
  background: #bdc3c7;
  color: #e74c3c;
}

main .btn_excluir .buttons button:last-child {
  background: #27ae60;
  border-color: #27ae60;
  right: 10px;
}

main .btn_excluir .buttons button:last-child:hover {
  background: #fff;
  color: #27ae60;
}

main .btn_excluir .buttons button:last-child:active {
  background: #bdc3c7;
  color: #27ae60;
}

.perfil {
  position: relative;
  width: 80%;
  min-width: 390px;
  margin: 50px auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  z-index: 1;
}

.perfil input[type="checkbox"] {
  display: none;
}

.perfil .form-img {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
}

.perfil .form-img button {
  position: absolute;
  bottom: -17%;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  min-width: 120px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  background: #01baef;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}

.perfil .form-img button:active {
  color: #bdc3c7;
}

.perfil .img-user {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ecf0f1;
  border: 2px solid #ecf0f1;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
}

.perfil .img-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.perfil .img-user span {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 40px;
  cursor: pointer;
}

.perfil .img-user .selecionar {
  opacity: 0;
}

.perfil .content {
  margin: auto;
  width: 60%;
  height: 75%;
}

.perfil .info-user {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.perfil .info-user .field-edit {
  position: relative;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px auto;
  font-family: "Rubik", sans-serif;
}

.perfil .info-user .field-edit input {
  width: 100%;
  height: 25px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  margin-top: 20px;
  color: #333;
  padding-right: 20px;
  font-family: "Rubik", sans-serif;
}

.perfil .info-user .field-edit .info::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 5px;
  color: rgb(107, 107, 107);
  font-weight: 600;
  transition: 0.5s;
  font-family: "Rubik", sans-serif;
}

.perfil .info-user .field-edit .info::after {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background: linear-gradient(120deg, rgb(107, 107, 107), rgb(70, 69, 69));
  transition: 0.5s;
}

.perfil .info-user .field-edit .focus + .info::after {
  transform: scaleX(1);
}

.perfil .info-user .field-edit .msg {
  position: absolute;
  top: 26px;
  right: 0;
}

.content .editar {
  width: 20%;
  height: 35px;
  border-radius: 5px;
  margin: 12px auto;
  min-width: 80px;
}

.content .editar button {
  font-size: 18px;
  font-weight: 600;
  background: #01baef;
  color: white;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}

.content .editar button:active {
  color: #bdc3c7;
}

section.your-imoveis {
  width: 100%;
  margin: 60px 0;
}

section.your-imoveis h1 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
}

section.your-imoveis .container-imovel {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 370px;
}

section.your-imoveis .container-imovel .list-imovel {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
  font-family: "Rubik", sans-serif;
  max-width: 875px;
}

section.your-imoveis .container-imovel .list-imovel .cards-imovel {
  position: relative;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
  height: 100%;
}

.icon-voltar,
.icon-proximo {
  font-size: 20px;
  color: #771fd2;
  cursor: pointer;
}

section.your-imoveis .container-imovel .card {
  border: 2px solid #ebebeb;
  width: 280px;
  height: 350px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
  background: white;
  transition: 0.3s;
}

section.your-imoveis .container-imovel .card.nAtivado {
  opacity: 0.5;
}

section.your-imoveis .container-imovel .card:hover {
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
}
section.your-imoveis .container-imovel .card:hover .detalhes a {
  color: #771fd2;
}

section.your-imoveis .container-imovel .card .image {
  width: 100%;
  height: 170px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #ccc;
}

section.your-imoveis .container-imovel .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

section.your-imoveis .container-imovel .card .detalhes {
  position: relative;
  height: 160px;
  line-height: 19px;
  text-align: center;
  padding: 10px;
}

section.your-imoveis .container-imovel .card .detalhes h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

section.your-imoveis .container-imovel .card .detalhes h3 span {
  font-size: 18px;
  font-weight: normal;
}

section.your-imoveis .container-imovel .card .detalhes p {
  font-size: 16px;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
}

section.your-imoveis .container-imovel .card .detalhes a {
  position: absolute;
  bottom: -5px;
  color: #333;
  text-decoration: none;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 600;
}

section.your-imoveis .container-imovel .card .detalhes a i {
  font-size: 16px;
}

section.your-services {
  border: 1px solid transparent;
  margin-bottom: 40px;
}

section.your-services h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
}

main section.your-services table {
  max-width: 80%;
  width: 80%;
  min-width: 450px;
  margin: 30px auto;
  color: #333;
}

main section.your-services table tr {
  border: 2px solid #ccc;
}

main section.your-services table thead tr th {
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

main section.your-services table tr th,
main section.your-services table tbody tr td {
  border: 2px solid #ccc;
  text-align: center;
  padding: 15px;
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
}

main table tbody tr td:last-child a {
  text-decoration: none;
  color: #2ecc71;
  font-size: 20px;
}

main section.your-adverts {
  border: 1px solid transparent;
  margin-bottom: 40px;
}

main section.your-adverts h1 {
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
}

main section.your-adverts .adverts {
  height: 270px;
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main section.your-adverts .adverts .adverts-container {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
  max-width: 875px;
}

main section.your-adverts .adverts .adverts-container .cards-propaganda {
  position: relative;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
  height: 100%;
}

main section.your-adverts .adverts .adverts-container .cards-propaganda .card {
  border: 2px solid #ccc;
  min-width: 280px;
  max-width: 280px;
  height: 250px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
  font-family: "Rubik", sans-serif;
  background: white;
  position: relative;
  transition: 0.3s;
}

main
  section.your-adverts
  .adverts
  .adverts-container
  .cards-propaganda
  .card:hover {
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
}

main
  section.your-adverts
  .adverts
  .adverts-container
  .cards-propaganda
  .card
  .image
  img {
  width: 100%;
  height: 246px;
  object-fit: cover;
  border-radius: 5px;
}

main
  section.your-adverts
  .adverts
  .adverts-container
  .cards-propaganda
  .card
  a {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

main
  section.your-adverts
  .adverts
  .adverts-container
  .cards-propaganda
  .card:hover
  a {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 1306px) {
  main .card-container {
    height: 500px;
  }
  section.your-imoveis .container-imovel {
    width: 610px;
  }
  main section.your-adverts .adverts {
    width: 610px;
  }
}

@media (max-width: 1080px) {
  .perfil {
    flex-direction: column;
  }
  .perfil .form-img {
    width: 220px;
    height: 220px;
    margin: 55px auto 20px auto;
  }
  .perfil .form-img button {
    bottom: -24%;
  }
  .perfil .img-user span {
    bottom: 5px;
    font-size: 35px;
  }
  .perfil .info-user {
    margin: 55px auto 0 auto;
  }
  .perfil input[type="checkbox"]:checked ~ .escolher-img {
    top: 30%;
  }
  .perfil .content {
    width: 80%;
  }
  .content .editar {
    margin: 20px auto;
  }
}

@media (max-width: 881px) {
  main .card-container {
    height: 720px;
  }
  section.your-imoveis .container-imovel {
    width: 320px;
  }
  main section.your-adverts .adverts {
    width: 320px;
  }
  .perfil,
  main h1,
  section.your-imoveis,
  main section.your-services table,
  section.your-services h1,
  main section.your-adverts {
    width: 70%;
    margin-left: 20%;
    margin-right: 10%;
  }
}
