* {
    font-family: sans-serif;
    box-sizing: border-box;
}

main {
    position: relative;
    height: 80vh;
    width: 100%;
    background: rgb(134, 129, 129);
}

main #filter {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 700px;
    height: 200px;
    text-align: center;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    transition: .5s;
}

main #filter .search {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

main #filter .search input {
    width: 70%;
    height: 35px;
    padding: 10px;
    margin-right: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}

main #filter .search input::-webkit-input-placeholder {
    color: #333;
}

main #filter .search button {
    width: auto;
    height: 35px;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background: #b41217;
    color: white;
}

main .field-input {
    display: flex;
    width: 90%;
    margin: 10px auto 0 auto;
    min-height: 60px;
}

main #filter .field-input .select-box {
    display: flex;
    margin: 0 auto;
    width: 180px;
    flex-direction: column;
}

main #filter .field-input .select-box .list-options {
    background: #fff;
    color: #333;
    max-height: 0;
    text-align: left;
    width: 100%;
    margin-top: 3px;
    opacity: 0;
    transition: .4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
    z-index: 4;
    border: 1px solid #cccccc;
    pointer-events: none;
}

main #filter .field-input .select {
    background: #fff;
    border-radius: 8px;
    color: #333;
    position: relative;
    order: 0;
    text-align: left;
}

main #filter .field-input .select::after {
    content: "\f078";
    font-family: fontAwesome;
    line-height: 42px;
    text-align: center;
    color: #333;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 5px;
    top: 0;
    transition: .4s;
}

main #filter .field-input .select-box .list-options.active {
    max-height: 168px;
    pointer-events: all;
    opacity: 1;
}

main #filter .field-input .select-box .list-options.scrol.active {
    overflow-y: scroll;
}

main #filter .field-input .select-box .list-options.active+.select::after {
    transform: rotateX(180deg);
}

main #filter .field-input .select-box .list-options::-webkit-scrollbar {
    width: 8px;
    background: #b3b0b0;
    border-radius: 0 8px 8px 0;
}

main #filter .field-input .select-box .list-options::-webkit-scrollbar-thumb {
    background: rgb(128, 120, 120);
    border-radius: 0 8px 8px 0;
}

main #filter .field-input .select-box .select {
    padding: 12px 24px 12px 20px;
    cursor: pointer;
}

main #filter .field-input .select-box .option {
    text-align: left;
    padding: 12px 24px 12px 0;
    cursor: pointer;
}

main #filter .field-input .select-box .option:hover {
    background: #d3d1d1;
}

main #filter .field-input .select-box label {
    cursor: pointer;
}

main #filter .field-input .select-box .option .radio {
    visibility: hidden;
    opacity: 0;
}

main #filter .field-input:nth-child(3) {
    position: absolute;
    top: 150px;
    left: 36px;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    transition-delay: .1s;
}

main #filter .field-input:nth-child(3) .list-options {
    z-index: 3;
}

main #filter .field-input:nth-child(4) {
    position: absolute;
    top: 220px;
    left: 36px;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}

main #filter .field-input:nth-child(4) .list-options {
    z-index: 2;
}

main #filter .field-input:nth-child(3).hidden {
    visibility: visible;
    opacity: 1;
    transition: .5s;
    transition-delay: .1s;
}

main #filter .field-input:nth-child(4).hidden {
    visibility: visible;
    opacity: 1;
    transition: .5s;
    transition-delay: .2s;
}

main #filter #check {
    display: none;
}

main #filter .more #check:checked~label span {
    top: 300px;
}

main #filter .more span {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    color: #b41217;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

main #filter span i {
    font-size: 12px;
    margin-right: 3px;
}


/* resposividade */

@media (max-width: 740px) {
    main #filter {
        width: 80%;
        min-width: 378px;
    }
    main #filter .search input {
        width: 73%;
    }
    main #filter .field-input {
        margin: 0 2.5%;
        width: 95%;
    }
    main #filter .field-input .select-box {
        margin: 10px auto;
    }
    main #filter .field-input .select-box .select {
        font-size: 14px;
        min-width: 108px;
        height: 56px;
        display: flex;
        align-items: center;
    }
    main #filter .field-input .select::after {
        top: 5px;
        right: 0;
    }
    main #filter .field-input .select-box .option {
        padding: 5px 5px 5px 0;
        font-size: 14px;
    }
    main #filter .field-input .select-box .list-options.active+.select::after {
        top: -6px;
    }
    main #filter .field-input .select-box {
        margin: 0 5px;
    }
    main #filter .field-input:nth-child(3),
    main #filter .field-input:nth-child(4) {
        left: 0;
    }
}

@media (max-width: 640px) {
    main #filter .search input {
        width: 70%;
        margin-right: 10px;
    }
    main #filter .search button {
        width: auto;
        min-width: 80px;
    }
}

@media (max-width: 560px) {
    main #filter .search {
        width: 96%;
        margin: 0 auto;
    }
    main #filter .field-input .select-box .option {
        font-size: 13px;
    }
}