* {
    box-sizing: border-box;
}

nav {
    height: 80px;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    line-height: 80px;
}

nav::after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    padding: 0 50px;
    height: 80px;
    line-height: 85px;
}

nav .logo a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 27px;
    line-height: 70px;
    font-weight: 600;
    padding: 8px;
    border: 2px solid white;
    border-radius: 5px;
}

nav .logo a::after,
nav .logo a::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background: #3498db;
    transform: skewX(50deg);
    transition: .4s linear;
}

nav .logo a::before {
    top: -2px;
    left: 10px;
}

nav .logo a::after {
    bottom: -2px;
    right: 10px;
}

nav .logo a:hover::before {
    left: 80%;
}

nav .logo a:hover::after {
    right: 80%;
}

nav ul {
    float: right;
    margin-right: 20px;
    position: relative;
}

nav ul li {
    display: inline-block;
    background: transparent;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 20px;
}

nav ul li a:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
}

nav .fas {
    margin-left: 5px;
    font-size: 15px;
}

nav .fa-caret-right {
    margin-left: 40px;
    font-size: 15px;
}

nav #menu,
nav .icon i {
    display: none;
}

nav .fa-sign-in-alt {
    font-size: 16px;
    margin-right: 5px;
}


/* Responsividade */

@media (max-width: 850px) {
    nav ul {
        margin-right: 20px;
    }
    nav ul li a {
        padding: 8px 10px;
    }
    nav .logo {
        padding: 0 30px;
    }
}

@media (max-width: 685px) {
    nav {
        height: 70px;
    }
    nav ul {
        margin: 2px 0 0 0;
        float: right;
        height: 475px;
        width: 50%;
        background: linear-gradient(45deg, #3498db, #8e44ad);
        text-align: center;
    }
    nav .logo {
        padding: 0 60px;
        width: 100%;
        height: 70px;
        line-height: 70px;
    }
    nav .logo a {
        font-size: 24px;
    }
    nav ul li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    nav ul li {
        background: transparent;
        display: inline-block;
        width: 100%;
        height: 70px;
        line-height: 70px;
    }
    nav ul li:hover {
        box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    }
    nav .icon {
        display: block;
        margin-top: 23px;
        width: 22px;
        height: 25px;
        position: absolute;
        right: 50px;
        cursor: pointer;
    }
    nav .icon i {
        display: block;
        color: white;
        font-size: 25px;
    }
    nav label .hide {
        display: none;
    }
    nav ul li a:hover {
        box-shadow: none;
    }
    nav #menu:checked~ul {
        display: block;
        z-index: 2;
    }
}

@media (max-width: 450px) {
    nav .logo {
        padding: 0 20px;
    }
    nav .logo a {
        font-size: 20px;
    }
    nav ul {
        background: linear-gradient(90deg, #3498db, #8e44ad);
        width: 100%;
    }
    nav .icon {
        right: 20px;
    }
}