body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main {
  width: 100%;
  min-height: 100vh;
  border: 1px solid transparent;
  position: relative;
}

main .alert {
  top: 80px;
}

main h1 {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
}

main input[type="checkbox"] {
  display: none;
}

main .icon_delete {
  width: 50px;
  position: absolute;
  right: 5%;
  top: 140px;
  font-size: 30px;
  text-align: right;
  color: #e74c3c;
  cursor: pointer;
}

main .delete {
  width: 350px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

main .delete .title {
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(107, 107, 107);
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

main .field {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .field .motivo {
  width: 100%;
  height: 100%;
  position: relative;
}

main .field .motivo textarea {
  font-size: 16px;
  width: 100%;
  color: #333;
  padding: 5px 10px;
  margin-top: 1px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.5s;
  resize: none;
  font-family: "Rubik", sans-serif;
}

main .field .motivo textarea:focus {
  border-color: #01baef;
}

main .field .motivo span.info {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #ccc;
  font-family: "Rubik", sans-serif;
  pointer-events: none;
  background: white;
  padding: 0 3px;
  transition: 0.5s;
  width: auto;
}

main .field .motivo span.count {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #ccc;
  font-family: "Rubik", sans-serif;
  pointer-events: none;
  background: white;
  padding: 0 3px;
  transition: 0.5s;
  font-size: 15px;
  width: auto;
}

main .field .motivo textarea:focus ~ span.info {
  color: #01baef;
  font-size: 14px;
  top: 1px;
}

main .field .motivo textarea.active ~ span.info {
  font-size: 14px;
  top: 1px;
}

main .field .motivo textarea:focus ~ span.count {
  color: #01baef;
}

main .field .motivo textarea::-webkit-scrollbar {
  width: 8px;
  background: #636e72;
  border-radius: 0 4px 4px 0;
}

main .field .motivo textarea::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 0 5px 5px 0;
}

main .delete .buttons {
  width: 90%;
  height: 40px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .delete .buttons button {
  margin: 0;
  width: 82px;
  font-size: 16px;
}

main .delete .buttons button:first-child {
  border-color: #e74c3c;
  background: #e74c3c;
}

main .delete .buttons button:first-child:hover,
main .delete .buttons button:first-child:active {
  color: #e74c3c;
  background: white;
}

main .delete .buttons button:last-child {
  border-color: #2ecc71;
  background: #2ecc71;
}

main .delete .buttons button:last-child:hover,
main .delete .buttons button:last-child:active {
  color: #2ecc71;
  background: white;
}

main input[type="checkbox"]:checked ~ form .delete {
  top: 50%;
  opacity: 1;
  pointer-events: all;
}

main input[type="checkbox"]:checked ~ form label {
  pointer-events: none;
}

main form {
  display: flex;
  flex-direction: column;
}

main form label {
  width: 500px;
  height: 400px;
  margin: 20px auto 0 auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

main .edity {
  width: 100%;
  height: 100%;
  position: relative;
}

main .edity .icon {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}

main .edity:hover .icon {
  opacity: 1;
}

main .edity .icon i {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 50px;
}

main img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

main .edity input[type="file"] {
  display: none;
}

main .edity i {
  display: none;
}

main span {
  width: 500px;
  margin: auto;
  color: #ccc;
  font-size: 15px;
  text-align: center;
}

form button {
  width: 90px;
  height: 35px;
  background: #01baef;
  border: 3px solid #01baef;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  transition: 0.5s;
  margin: 30px auto;
}

main form button:hover,
main form button:active {
  background: white;
  color: #01baef;
}

@media (max-width: 745px) {
  main form label {
    width: 350px;
    height: 250px;
  }
  main span {
    width: 350px;
  }
}
