body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main {
  width: 100%;
  min-height: 100vh;
  border: 1px solid transparent;
}

main .alert {
  top: 80px;
}

main h1 {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
}

main .info_plano {
  width: 70%;
  min-width: 455px;
  margin: 30px auto;
}
