body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main {
  width: 100%;
  min-height: 100vh;
  border: 1px solid transparent;
}

main h1 {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
}

main .perguntas {
  width: 50%;
  margin: 40px auto 0 auto;
  text-align: justify;
  height: auto;
  color: rgb(107, 107, 107);
  font-family: "Rubik", sans-serif;
}

main .perguntas .pergunta {
  width: 95%;
  margin: 40px auto;
  line-height: 20px;
}

main .perguntas .pergunta h3 {
  font-size: 18px;
  height: auto;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

main .perguntas .pergunta h3 i {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

main .perguntas .pergunta p {
  font-size: 16px;
  color: #333;
  text-indent: 25px;
  display: none;
  transition: 0.5s;
}

main .perguntas .pergunta.Active p {
  display: block;
}

main .perguntas .relatar_problema {
  width: 95%;
  margin: 50px auto 10px auto;
  text-align: center;
}

main .perguntas .relatar_problema h4 {
  color: #b41217;
}

main .perguntas .relatar_problema h4 span {
  color: rgb(107, 107, 107);
}
