body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main {
  border: 1px solid transparent;
  height: 100vh;
  min-height: 620px;
}

.menu-senha {
  background: #be5041 !important;
}

main .alert {
  top: 80px;
}

form {
  width: 30%;
  height: 375px;
  margin: 150px auto;
}

.editar-senha {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editar-senha h1 {
  min-width: 120px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(107, 107, 107);
  margin: 0 0 1px 5px;
}

.editar-senha .content {
  width: 100%;
  height: 100%;
  min-width: 226px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.editar-senha .content .card {
  height: 33%;
}

.editar-senha .content label {
  position: relative;
  top: 10px;
  left: 5%;
  color: rgb(107, 107, 107);
  font-weight: 600;
}

.editar-senha .content .field-senha {
  position: relative;
  width: 90%;
  height: 60%;
  margin: 20px auto;
}

.editar-senha .content .field-senha input {
  position: absolute;
  top: 47%;
  transform: translateY(-47%);
  height: 35px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  font-size: 17px;
  color: #333;
  padding-right: 30px;
}

.editar-senha .content .field-senha .info::before {
  content: attr(data-placerholder);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
  transition: 0.5s;
}

.editar-senha .content .field-senha input:focus + .info::before,
.editar-senha .content .field-senha input:valid + .info::before {
  top: 15%;
  color: rgb(107, 107, 107);
}

.editar-senha .content .field-senha .info::after {
  content: "";
  position: absolute;
  top: 50px;
  width: 100%;
  height: 2px;
  background: linear-gradient(120deg, rgb(107, 107, 107), rgb(70, 69, 69));
  transition: 0.5s;
  transform: scale(0);
}

.editar-senha .content .field-senha input:focus + span::after,
.editar-senha .content .field-senha input:valid + span::after {
  transform: scale(1);
}

.editar-senha .content .field-senha .msg,
.editar-senha .content .field-senha .msgAtual {
  position: absolute;
  bottom: -1px;
  left: 0;
  font-size: 13px;
}

.editar-senha .content .field-senha i {
  color: #ccc;
  position: absolute;
  top: 24px;
  right: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.editar-senha .content .field-senha input:focus ~ i,
.editar-senha .content .field-senha input:valid ~ i {
  color: rgb(107, 107, 107);
}

form button {
  width: 30%;
  min-width: 70px;
  height: 40px;
  border-radius: 5px;
  background: #01baef;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 10px 35%;
  transition: 0.5s;
}

form button:hover {
  background: #0992b8;
}

@media (max-width: 1148px) {
  .editar-senha .content .field-senha .msg {
    bottom: -9px;
  }
  .editar-senha .content .field-senha .msgAtual {
    bottom: 3px;
  }
}

@media (max-width: 950px) {
  .editar-senha h1 {
    margin: auto;
  }
}

@media (max-width: 700px) {
  .editar-senha h1 {
    font-size: 19px;
    margin-left: 60px;
  }
  .editar-senha .content label {
    font-size: 14px;
  }
  form button {
    margin-left: 80px;
  }
}
