header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    box-shadow: 0 5px 15px #ccc;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo {
    float: left;
    margin-left: 10px;
}

.logo a {
    position: relative;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    color: #6843d1;
    border: 3px solid #6843d1;
    padding: 5px;
    border-radius: 5px;
}

.logo a::before,
.logo a::after {
    content: '';
    width: 10px;
    height: 3px;
    background-color: #fff;
    transform: skew(45deg);
    position: absolute;
    transition: .5s;
}

.logo a::before {
    top: -3px;
    left: 10px;
}

.logo a::after {
    bottom: -3px;
    right: 10px;
}

.logo a:hover::after {
    right: 85%;
}

.logo a:hover::before {
    left: 85%;
}

.user {
    width: 55px;
    height: 55px;
    float: right;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    background: #ccc;
    margin: 12px 10px;
    border: 2px solid #ecf0f1;
    box-shadow: rgb(0 0 0 / 20%) 0 4px 8px;
}

.user img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    image-rendering: optimizeQuality;
}