* {
    box-sizing: border-box;
}

body {
    background: #fff;
}

.menu-container {
    display: flex;
    align-items: center;
    height: 150vh;
    background: #fff;
}

.menu-container .nome {
    position: absolute;
    top: 20%;
    transform: translateY(-10%);
    font-size: 24px;
    color: #9b59b6;
    text-align: center;
    width: 50%;
    margin: 0 25%;
}