* {
    box-sizing: border-box;
}

body {
    background: #6843d1;
}

.logo a {
    color: #fff !important;
    border: 3px solid #fff !important;
}

.logo a::before,
.logo a::after {
    background-color: #6843d1 !important;
}

.menu-container {
    display: flex;
    align-items: center;
    height: 150vh;
    background: #6843d1;
}

.menu-container .nome {
    position: absolute;
    top: 10%;
    transform: translateY(-10%);
    font-size: 24px;
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 25%;
}