* {
    box-sizing: border-box;
}

body {
    background: #fff;
}

body::-webkit-scrollbar {
    width: 10px;
    background: #666;
}

body::-webkit-scrollbar-thumb {
    background: rgb(34, 34, 34);
    border-radius: 5px;
}

.menu-container {
    display: flex;
    align-items: center;
    height: 100vh;
    background: #fff;
}

.menu-container .nome {
    position: absolute;
    top: 20%;
    transform: translateY(-10%);
    font-size: 24px;
    color: #9b59b6;
    text-align: center;
    width: 50%;
    margin: 0 25%;
}

.menu-home {
    background: #42229b !important;
}