* {
    box-sizing: border-box;
}

main {
    background: #fff;
    width: 100%;
    height: 100vh;
}

.menu-perfil {
    background: #42229b !important;
}

.title-perfil {
    width: 80%;
    min-width: 220px;
    z-index: 1;
    color: #fff;
    margin: 110px 0 0 150px;
    text-align: center;
}

.title-perfil h1 {
    font-size: 24px;
    font-weight: 600;
    color: #6843d1;
}

.perfil {
    position: absolute;
    top: 140px;
    left: 150px;
    width: 80%;
    height: 520px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    z-index: 1;
}

.perfil input[type=checkbox] {
    display: none;
}

.perfil .form-img {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
}

.perfil .form-img button {
    position: absolute;
    bottom: -17%;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    min-width: 120px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    background: #522fb3;
    color: white;
    border: none;
    cursor: pointer;
}

.perfil .form-img button:active {
    color: #bdc3c7;
}

.perfil .img-user {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ccc;
    overflow: hidden;
}

.perfil .img-user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.perfil .img-user span {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 217px;
    width: 25%;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-size: 40px;
    cursor: pointer;
}

.perfil .img-user .selecionar {
    display: none;
}

.perfil .content {
    margin: auto;
    width: 60%;
    height: 75%;
}

.perfil .info-user {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.perfil .info-user .field-edit {
    position: relative;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
}

.perfil .info-user .field-edit input {
    width: 100%;
    height: 25px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-top: 20px;
    color: #333;
    padding-right: 20px;
}

.perfil .info-user .field-edit .info::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 5px;
    color: #522fb3;
    font-weight: 600;
    transition: .5s
}

.perfil .info-user .field-edit .info::after {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    transition: .5s;
}

.perfil .info-user .field-edit .focus+.info::after {
    transform: scaleX(1);
}

.perfil .info-user .field-edit .msg {
    position: absolute;
    top: 26px;
    right: 0;
}

.content .editar {
    width: 20%;
    height: 35px;
    border-radius: 5px;
    margin: 12px auto;
    min-width: 80px;
}

.content .editar button {
    font-size: 18px;
    font-weight: 600;
    background: #522fb3;
    color: white;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.content .editar button:active {
    color: #bdc3c7;
}

@media (max-width: 1080px) {
    main {
        height: 150vh;
    }
    .perfil {
        flex-direction: column;
        height: 830px;
    }
    .perfil .form-img {
        width: 220px;
        height: 220px;
        margin: 55px auto 20px auto;
    }
    .perfil .form-img button {
        bottom: -24%;
    }
    .perfil .img-user span {
        bottom: 5px;
        font-size: 35px;
    }
    .perfil .info-user {
        margin: 55px auto 0 auto;
    }
    .perfil input[type=checkbox]:checked~.escolher-img {
        top: 30%;
    }
    .perfil .content {
        width: 80%;
    }
    .content .editar {
        margin: 20px auto;
    }
}

@media (max-width: 850px) {
    .perfil,
    .title-perfil {
        width: 70%;
    }
}

@media (max-width: 580px) {
    .perfil {
        left: 120px;
    }
    .title-perfil {
        margin-left: 120px;
    }
}