.container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}

.container > h1 {
  position: absolute;
  top: 22%;
  font-weight: 600;
  flex: 1;
  font-size: 24px;
  color: #ef2d56;
  font-family: "Montserrat", sans-serif;
}

main {
  position: relative;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main form {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -30%);
  transition: 0.5s;
}

main .select-img {
  width: 450px;
  height: 300px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #ccc;
  position: relative;
  transition: 0.5s;
}
main .select-img.active {
  border: none;
}

main form input[type="file"] {
  display: none;
}
main .select-img i {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #ecf0f1;
  font-size: 200px;
  z-index: -1;
  opacity: 1;
  pointer-events: all;
  transition: 0.2s;
}
main .select-img .far.active {
  opacity: 0;
  pointer-events: none;
}

main .select-img h1 {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  padding: 10px 15px;
  border-radius: 5px;
  background: #01baef;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
}

main .select-img h1.active {
  top: 100%;
}

main .container-img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 850px;
  height: 270px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
main .container-img.active {
  opacity: 1;
  pointer-events: all;
}

main .container-img .list-img {
  width: 782px;
  height: 270px;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
main .container-img .list-img .list-img-slider {
  position: relative;
  left: 0;
  display: flex;
  transition: 0.5s;
}

main .container-img .icon-voltar,
main .container-img .icon-proximo {
  font-size: 20px;
  color: #771fd2;
  cursor: pointer;
}

main .container-img .preview-img {
  border: 1px solid #ebebeb;
  width: 250px;
  height: 250px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

main .container-img .preview-img :hover {
  box-shadow: rgb(0 0 0 / 20%) 0 4px 10px;
}

main .container-img .preview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
