.container {
  width: 100%;
  height: 200px;
  border: 1px solid transparent;
}

.container .alert {
  top: 80px;
}

/* Titulo da pagina */
.container > h1 {
  width: 50%;
  min-width: 222px;
  margin: 150px auto 0 auto;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/* main */
main {
  border: 1px solid transparent;
  position: relative;
  height: 100vh;
  min-height: 1400px;
}

/* scrol */
body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

/* form */
main form {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  transition: 0.5s;
  height: 1280px;
  width: 850px;
}

/* h1s do form */
main form h1 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(107, 107, 107);
  margin: 20px 0;
}

/* tipo imovel */
main .type-imovel .select-box {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
}

main .type-imovel .select-box .list-options {
  background: #fff;
  color: #333;
  max-height: 0;
  text-align: left;
  width: 100%;
  margin-top: 3px;
  opacity: 0;
  transition: 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
  z-index: 4;
  border: 2px solid #ccc;
  pointer-events: none;
}

main .type-imovel .select {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  color: #333;
  position: relative;
  order: 0;
  text-align: left;
}

main .type-imovel .select::after {
  content: "\f078";
  font-family: fontAwesome;
  line-height: 42px;
  text-align: center;
  color: #333;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 5px;
  top: 0;
  transition: 0.4s;
}

main .type-imovel .select-box .list-options.active {
  max-height: 172px;
  pointer-events: all;
  opacity: 1;
}

main .type-imovel .select-box .list-options.active + .select::after {
  transform: rotateX(180deg);
}

main .type-imovel .select-box .select {
  padding: 12px 24px 12px 20px;
  cursor: pointer;
}

main .type-imovel .select-box .option {
  text-align: left;
  padding: 12px 24px 12px 0;
  cursor: pointer;
}

main .type-imovel .select-box .option:hover {
  background: #ecf0f1;
}

main .type-imovel .select-box label {
  cursor: pointer;
}

main .type-imovel .select-box .option .radio {
  visibility: hidden;
  opacity: 0;
}

main .field-input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  position: relative;
}

main .field-duo {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

main .field-duo .field-input {
  width: 47%;
}

main .field-input .info_field::before {
  content: attr(data-placeholder);
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
  background: #fff;
  padding: 0 5px;
  transition: 0.5s;
  pointer-events: none;
  font-family: "Rubik", sans-serif;
}

main .field-input .count {
  position: absolute;
  right: 12px;
  bottom: -85px;
  color: #ccc;
  transition: 0.5s;
  font-family: "Rubik", sans-serif;
}

main .field-input .obrigatorio:focus ~ .info_field::before,
main .field-input .complemento:focus ~ .info_field::before,
main .field-input textarea:focus ~ .info_field::before,
main .field-input textarea:focus ~ .count {
  color: #01baef;
}

main .field-input .obrigatorio:focus,
main .field-input .complemento:focus {
  border-color: #01baef;
}

main .field-input .obrigatorio:focus ~ .info_field::before,
main .field-input textarea.valid ~ .info_field::before,
main .field-input input.complemento.valid ~ .info_field::before,
main .field-input textarea.valid ~ .info_field::before,
main .field-input input.complemento.valid ~ .info_field::before,
main .field-input .obrigatorio:valid ~ .info_field::before {
  top: 0;
  left: 5px;
  font-size: 14px;
}

main .field-input input {
  font-size: 16px;
  width: 100%;
  height: 38px;
  color: #333;
  padding: 0 10px;
  margin-top: 1px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.5s;
  font-family: "Rubik", sans-serif;
}

/* endereco imovel */
main .endereco {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 150px;
}

main .endereco .complemento:valid ~ .info_field::before {
  top: 50%;
  left: 10px;
  font-size: 16px;
}

/* detalhes imovel */
main .detalhes-imovel {
  position: absolute;
  top: 400px;
  width: 100%;
}

main .detalhes-imovel > .field-input textarea {
  font-size: 16px;
  width: 100%;
  color: #333;
  padding: 5px 10px;
  margin-top: 1px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.5s;
  resize: none;
  font-family: "Rubik", sans-serif;
}

main .detalhes-imovel > .field-input textarea::-webkit-scrollbar {
  width: 8px;
  background: #636e72;
  border-radius: 0 4px 4px 0;
}

main .detalhes-imovel > .field-input textarea::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 0 5px 5px 0;
}

main .detalhes-imovel > .field-input textarea:focus {
  border-color: #01baef;
}

main .detalhes-imovel .field-input .descri::before {
  top: 100%;
}

/* valor imovel */
main .value-imovel {
  position: absolute;
  top: 750px;
  width: 100%;
}

main .value-imovel input {
  width: 47%;
}

/* imagens imovel */
main .img-imovel {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 380px;
}

main .select-img {
  width: 100%;
  height: 300px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #ccc;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  pointer-events: all;
}

main .select-img.active {
  width: 223px;
  border: none;
}

main .select-img span {
  position: absolute;
  bottom: -20px;
  color: #ccc;
  font-size: 14px;
  opacity: 1;
  transition: 0.5s;
  font-family: "Open Sans", sans-serif;
}

main .select-img.active span {
  opacity: 0;
}

main form input[type="file"] {
  display: none;
}

main .select-img i {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #ecf0f1;
  font-size: 200px;
  z-index: -1;
  opacity: 1;
  pointer-events: all;
  transition: 0.2s;
}
main .select-img .far.active {
  opacity: 0;
  pointer-events: none;
}

main .select-img h1 {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  background: #01baef;
  border: 3px solid #01baef;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
  width: 223px;
  font-family: "Rubik", sans-serif;
}

main .select-img h1:hover {
  background: white;
  color: #01baef;
}

main .select-img h1:active {
  border: 3px solid #0703ff;
  background: white;
  color: #0703ff;
  transition: 0.1s;
}

main .select-img h1.active {
  top: 91%;
}

main .container-img {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 2;
}

main .container-img.active {
  opacity: 1;
  pointer-events: all;
}

main .container-img .list-img {
  width: 782px;
  height: 270px;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
}

main .container-img .list-img .list-img-slider {
  position: relative;
  left: 0;
  display: flex;
  transition: 0.5s;
}

main .container-img .icon-voltar,
main .container-img .icon-proximo {
  font-size: 20px;
  color: #771fd2;
  cursor: pointer;
}

main .container-img .preview-img {
  border: 1px solid #ebebeb;
  width: 250px;
  height: 250px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

main .container-img .preview-img :hover {
  box-shadow: rgb(0 0 0 / 20%) 0 4px 10px;
}

main .container-img .preview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

main form button[type="submit"] {
  padding: 5px 20px;
  background: #01baef;
  border: 3px solid #01baef;
  font-size: 20px;
  font-weight: 600;
  color: white;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: -7.5%;
  left: 50%;
  transform: translate(-50%, -10%);
  transition: 0.5s;
  font-family: "Rubik", sans-serif;
}

main form button[type="submit"]:hover {
  background: white;
  color: #01baef;
}

main form button[type="submit"]:active {
  border: 3px solid #0703ff;
  background: white;
  color: #0703ff;
  transition: 0.1s;
}

@media (max-width: 1200px) {
  main form {
    left: 55%;
  }
  .container > h1 {
    margin-left: 30%;
  }
}

@media (max-width: 1000px) {
  main form {
    width: 590px;
  }
  main .container-img .list-img {
    width: 522px;
  }
}

@media (max-width: 855px) {
  main form {
    left: 57%;
  }
}

@media (max-width: 765px) {
  main form {
    width: 350px;
  }
  main .container-img .list-img {
    width: 262px;
  }
  main .select-img span {
    bottom: -35px;
  }
}
