* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}

h1 {
  position: absolute;
  top: 20%;
  font-weight: 600;
  flex: 1;
  font-size: 24px;
  color: #9b59b6;
}

main {
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}
