.menu-config {
  background: #be5041 !important;
}

main {
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}
.excluir-conta {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 60%;
  height: 130px;
  margin-left: 60px;
  min-width: 220px;
}

.excluir-conta h1 {
  height: 20%;
  font-size: 24px;
  font-weight: 600;
  color: rgb(107, 107, 107);
  margin-left: 5px;
}

.excluir-conta .btn-excluir {
  position: relative;
  width: 100%;
  height: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.excluir-conta .btn-excluir form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.excluir-conta .btn-excluir input[type="checkbox"] {
  display: none;
}

.excluir-conta .btn-excluir h1 {
  width: 170px;
  height: 40px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 600;
  user-select: none;
  text-align: center;
  line-height: 35px;
  z-index: 3;
  background: #e74c3c;
  border: 2px solid #e74c3c;
}

.excluir-conta .btn-excluir h1:hover {
  background: white;
  color: #e74c3c;
}

.excluir-conta .btn-excluir h1:active {
  background: #ccc;
}

.excluir-conta .btn-excluir .msg-excluir {
  position: absolute;
  top: 70px;
  width: 330px;
  height: 120px;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}

.excluir-conta .btn-excluir .msg-excluir::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 47%;
  width: 16px;
  height: 16px;
  background: #fff;
  transform: rotate(45deg);
  z-index: 1;
  pointer-events: none;
}

.excluir-conta .btn-excluir .msg-excluir h1 {
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: 500;
  pointer-events: none;
  width: 100%;
  margin: 0;
  color: #333;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
}

.excluir-conta .btn-excluir .msg-excluir span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ccc;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 100px;
}

.excluir-conta .btn-excluir .msg-excluir .confirm,
.excluir-conta .btn-excluir .msg-excluir .cancel {
  position: absolute;
  bottom: 10px;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  width: 100px;
}

.excluir-conta .btn-excluir .msg-excluir .confirm {
  right: 20px;
  background: #27ae60;
  border: 2px solid #27ae60;
}

.excluir-conta .btn-excluir .msg-excluir .cancel {
  left: 20px;
  background: #e74c3c;
  border: 2px solid #e74c3c;
}

.excluir-conta .btn-excluir .msg-excluir .confirm:hover {
  background: white;
  color: #27ae60;
}

.excluir-conta .btn-excluir .msg-excluir .cancel:hover {
  background: white;
  color: #e74c3c;
}

.excluir-conta .btn-excluir .msg-excluir .cancel:active {
  background: #ccc;
  color: #e74c3c;
}
.excluir-conta .btn-excluir .msg-excluir .confirm:active {
  background: #ccc;
  color: #27ae60;
}

.excluir-conta .btn-excluir input[type="checkbox"]:checked ~ .msg-excluir {
  top: 90px;
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 500px) {
  .excluir-conta .btn-excluir .msg-excluir {
    width: 255px;
  }
  .excluir-conta .btn-excluir .msg-excluir h1 {
    font-size: 14px;
  }
}
