.menu-perfil {
  background: #be5041 !important;
}

main {
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}
