.menu-perfil {
  background: #be5041 !important;
}

main {
  position: relative;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main .edit-info {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 30%;
  height: 400px;
  text-align: center;
}

main .edit-info h1 {
  min-width: 275px;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 600;
  color: rgb(107, 107, 107);
}

main .edit-info form {
  width: 90%;
  min-width: 275px;
  height: 90%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .edit-info form .field-input {
  position: relative;
  width: 100%;
  height: 20%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .edit-info form .field-input input {
  width: 66%;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  color: #333;
}
main .edit-info form .field-input input.senha {
  padding-right: 25px;
}

main .edit-info form .field-input span::before {
  content: attr(data-placeholder);
  position: absolute;
  left: 17%;
  top: 25px;
  color: #ccc;
  transition: 0.5s;
}

main .edit-info form .field-input input:focus + span::before,
main .edit-info form .field-input input:valid + span::before {
  top: 5px;
  color: rgb(107, 107, 107);
}

main .edit-info form .field-input span::after {
  content: "";
  position: absolute;
  left: 17%;
  top: 68.5%;
  width: 66%;
  height: 2px;
  background: linear-gradient(120deg, rgb(107, 107, 107), rgb(70, 69, 69));
  transition: 0.5s;
  transform: scale(0);
}

main .edit-info form .field-input input:focus + span::after,
main .edit-info form .field-input input:valid + span::after {
  transform: scale(1);
}

main .edit-info form .field-input i {
  color: #ccc;
  position: absolute;
  right: 18%;
  transition: 0.5s;
  cursor: pointer;
}

main .edit-info form .field-input input:focus ~ i,
main .edit-info form .field-input input:valid ~ i {
  transform: translateY(-15%);
  color: rgb(107, 107, 107);
}

main .edit-info form .field-button {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .edit-info form .field-button button {
  width: 120px;
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #01baef;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
}

main .edit-info form .field-button button:hover {
  background: #0992b8;
}

main .edit-info form .field-button button:active {
  color: #ccc;
}

@media (max-width: 585px) {
  main .edit-info {
    transform: translate(-65%, -70%);
  }
}
