body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main {
  width: 100%;
  min-height: 100vh;
  border: 1px solid transparent;
}

main .alert {
  top: 80px;
}

main h1 {
  width: 100%;
  text-align: center;
  margin-top: 130px;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Montserrat", sans-serif;
}

main .info-imovel {
  position: relative;
  max-width: 80%;
  min-width: 445.5px;
  margin: 40px 8% 90px 12%;
}

main #btn_excluir {
  display: none;
}

main .btn .icon-delete {
  position: absolute;
  top: 200px;
  right: 8%;
  font-size: 30px;
  color: #e74c3c;
  cursor: pointer;
  z-index: 2;
}

main .btn .icon-habilitar {
  position: absolute;
  top: 200px;
  right: 8%;
  font-size: 30px;
  color: #2ecc71;
  cursor: pointer;
  z-index: 2;
}

main .btn_excluir {
  width: 310px;
  height: 200px;
  background: #fff;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  top: 120px;
  right: 200px;
  transition: 0.5s;
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
  opacity: 0;
  pointer-events: none;
}

main #btn_excluir:checked ~ .btn_excluir {
  top: 150px;
  opacity: 1;
  pointer-events: all;
}

main .btn_excluir .title {
  width: 100%;
  padding: 10px 5px;
  border-bottom: 2px solid #ccc;
}

main .btn_excluir .title h1 {
  font-size: 16px;
  margin: 0;
  width: auto;
}

main .btn_excluir .senha {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .btn_excluir input {
  width: 66%;
  margin-left: 17%;
  height: 35px;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0 5px;
  background: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  font-size: 16px;
}

main .btn_excluir input:focus {
  border-color: #01baef;
}

main .btn_excluir span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: -8px;
  left: 17%;
  background: #fff;
  padding: 0 3px;
  font-size: 14px;
  color: #ccc;
  transition: 0.5s;
}

main .btn_excluir input:focus ~ span::before {
  color: #01baef;
}

main .btn_excluir .senha .fa {
  color: #ccc;
  position: absolute;
  right: 18.5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

main .btn_excluir input:focus + .fa {
  color: #01baef;
}

main .btn_excluir .icon_senha {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ccc;
  font-size: 80px;
  z-index: -1;
}

main .btn_excluir .buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main .btn_excluir .buttons button {
  width: 85px;
  height: 32px;
  border-radius: 5px;
  border: 3px solid transparent;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  position: absolute;
  bottom: 10px;
  transition: 0.5s;
}

main .btn_excluir .buttons button:first-child {
  background: #e74c3c;
  border-color: #e74c3c;
  left: 10px;
}

main .btn_excluir .buttons button:first-child:hover {
  background: #fff;
  color: #e74c3c;
}

main .btn_excluir .buttons button:first-child:active {
  background: #bdc3c7;
  color: #e74c3c;
}

main .btn_excluir .buttons button:last-child {
  background: #27ae60;
  border-color: #27ae60;
  right: 10px;
}

main .btn_excluir .buttons button:last-child:hover {
  background: #fff;
  color: #27ae60;
}

main .btn_excluir .buttons button:last-child:active {
  background: #bdc3c7;
  color: #27ae60;
}

main .info-imovel h1 {
  width: 222px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  font-size: 20px;
  text-align: left;
}

main .info-imovel .imgs-imovel {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  position: relative;
}

main .info-imovel .imgs-imovel input[type="file"] {
  display: none;
}

main .info-imovel .imgs-imovel .card {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px 5px;
}

main .info-imovel .imgs-imovel .card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

main .info-imovel .imgs-imovel .card .icon {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 5px 0;
  text-align: center;
  font-size: 30px;
  color: rgba(52, 152, 219, 0.7);
  cursor: pointer;
}

main .info-imovel .imgs-imovel .obs {
  position: absolute;
  left: 0;
  bottom: -20px;
  color: #ccc;
  font-size: 14px;
}

main .info-imovel .type-imv {
  max-width: 100%;
  margin-top: 50px;
}

main .info-imovel .type-imv .detalhes {
  position: relative;
  max-width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
}

main .info-imovel .type-imv .detalhes .endereco-imovel {
  width: 90%;
  margin: auto;
}

main .info-imovel .type-imv .detalhes .field-duo {
  width: 1005;
  height: 40px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .info-imovel .type-imv .detalhes .field-input {
  position: relative;
  width: 48%;
  height: 40px;
}

main .info-imovel .type-imv .detalhes .field-input input {
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 0 7px;
  font-size: 16px;
  color: #333;
  transition: 0.5s;
}

main .info-imovel .type-imv .detalhes .field-input.end {
  width: 66%;
}

main .info-imovel .type-imv .detalhes .field-input.num {
  width: 30%;
}

main .info-imovel .type-imv .detalhes .field-input .info-field::before {
  content: attr(data-placeholder);
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
  pointer-events: none;
  transition: 0.5s;
  background: white;
  padding: 0 3px;
}

main
  .info-imovel
  .type-imv
  .detalhes
  .field-input
  input:focus
  ~ .info-field::before,
main
  .info-imovel
  .type-imv
  .detalhes
  .field-input
  textarea:focus
  ~ .info-field::before {
  top: 0;
  font-size: 14px;
  color: #01baef;
}

main
  .info-imovel
  .type-imv
  .detalhes
  .field-input.desc
  textarea:focus
  ~ .counter {
  color: #01baef;
}

main
  .info-imovel
  .type-imv
  .detalhes
  .field-input
  .obrigatorio:valid
  ~ .info-field::before,
main
  .info-imovel
  .type-imv
  .detalhes
  .field-input
  input.valid
  ~ .info-field::before,
main
  .info-imovel
  .type-imv
  .detalhes
  .field-input
  textarea.valid
  ~ .info-field::before {
  top: 0;
  font-size: 14px;
}

main .info-imovel .type-imv .detalhes .field-input input:focus,
main .info-imovel .type-imv .detalhes .field-input.desc textarea:focus {
  border-color: #01baef;
}

main .info-imovel .type-imv .detalhes .comodos {
  width: 90%;
  margin: auto;
  height: 186px;
}

main .info-imovel .type-imv .detalhes .comodos .field-for {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

main .info-imovel .type-imv .detalhes .comodos .field-for .field-input {
  margin-top: 30px;
  width: 22%;
}

main .info-imovel .type-imv .detalhes .comodos .desc {
  margin-top: 30px;
  width: 100%;
  height: 86px;
  position: relative;
}
main .info-imovel .type-imv .detalhes .comodos .desc textarea {
  font-size: 16px;
  width: 100%;
  color: #333;
  padding: 10px 12px 0 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.5s;
  resize: none;
}

main
  .info-imovel
  .type-imv
  .detalhes
  .comodos
  .desc
  textarea::-webkit-scrollbar {
  width: 8px;
  background: #636e72;
  border-radius: 0 4px 4px 0;
}

main
  .info-imovel
  .type-imv
  .detalhes
  .comodos
  .desc
  textarea::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 0 5px 5px 0;
}

main .info-imovel .type-imv .detalhes .comodos .desc .counter {
  position: absolute;
  bottom: 4px;
  right: 12px;
  color: #ccc;
}

main .info-imovel .type-imv .detalhes .type-value {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .info-imovel .type-imv .detalhes .type-value .field-input {
  margin: 30px 0;
}

main .type-value .select-box {
  display: flex;
  width: 48%;
  height: 40px;
  flex-direction: column;
}

main .type-value .select-box .list-options {
  background: #fff;
  color: #333;
  max-height: 0;
  text-align: left;
  width: 100%;
  margin-top: 3px;
  opacity: 0;
  transition: 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
  z-index: 4;
  border: 2px solid #ccc;
  pointer-events: none;
}

main .type-value .select {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  color: #333;
  position: relative;
  order: 0;
  text-align: left;
  height: 40px;
  padding: 12px 24px 12px 10px;
  cursor: pointer;
}

main .type-value .select::before {
  content: attr(data-placeholder);
  position: absolute;
  top: -10px;
  left: 5px;
  background: white;
  padding: 0 3px;
  color: #ccc;
  font-size: 14px;
}

main .type-value .select::after {
  content: "\f078";
  font-family: fontAwesome;
  line-height: 42px;
  text-align: center;
  color: #333;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 5px;
  top: -3px;
  transition: 0.4s;
}

main .type-value .select-box .list-options.active {
  min-height: 172px;
  pointer-events: all;
  opacity: 1;
}

main .type-value .select-box .list-options.active + .select::after {
  top: 3px;
  transform: rotateX(180deg);
}

main .type-value .select-box .option {
  text-align: left;
  padding: 12px 24px 12px 0;
  cursor: pointer;
}

main .type-value .select-box .option:hover {
  background: #ecf0f1;
}

main .type-value .select-box label {
  cursor: pointer;
}

main .type-value .select-box .option .radio {
  visibility: hidden;
  opacity: 0;
}

main .info-imovel .btn-enviar {
  margin: 40px auto 0 auto;
  width: 100px;
  height: 35px;
}

main .info-imovel .btn-enviar button {
  width: 100%;
  height: 100%;
  border: 3px solid #01baef;
  outline: none;
  border-radius: 5px;
  background: #01baef;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

main .info-imovel .btn-enviar button:hover {
  background: white;
  color: #01baef;
}

main .info-imovel .btn-enviar button:active {
  background: white;
  color: #0283a7;
  border-color: #0283a7;
}

@media (max-width: 930px) {
  main .info-imovel {
    width: 75%;
    margin: 40px 8% 50px 17%;
  }
  main h1 {
    width: 75%;
    margin: 150px 8% 0 17%;
  }
}

@media (max-width: 670px) {
  main .info-imovel {
    margin: 40px 7% 50px 18%;
  }
  main h1 {
    margin: 150px 7% 0 18%;
  }
  main .info-imovel h1 {
    margin: auto;
    text-align: center;
  }
  main .info-imovel .imgs-imovel .obs {
    font-size: 12px;
  }
  main .btn .icon-delete {
    right: 7%;
  }

  main .btn_excluir {
    right: 100px;
  }
}

@media (max-width: 570px) {
  main .info-imovel .imgs-imovel .obs {
    width: 300px;
    text-align: center;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
