body {
  overflow-x: hidden;
}

main {
  width: 100%;
  min-height: 100vh;
  border: 1px solid transparent;
}

main .alert {
  top: 80px;
}

main h1 {
  min-width: 330px;
  width: 60%;
  margin: 150px auto 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main .cad-servicos {
  width: 60%;
  min-width: 330px;
  height: 150px;
  margin: 40px auto;
}

main .cad-servicos form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .cad-servicos input {
  width: 60%;
  min-width: 302px;
  height: 35px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: 0.5s;
}

main .cad-servicos input:focus {
  border-color: #01baef;
}

main .cad-servicos button {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: 3px solid #01baef;
  background: #01baef;
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.5s;
}

main .cad-servicos button:hover {
  background: white;
  color: #01baef;
}

main .cad-servicos button:active {
  border: 3px solid #038bb1;
  color: #038bb1;
  background: white;
}

main .list-servicos {
  min-width: 330px;
  width: 60%;
  margin: auto;
}

main .list-servicos table {
  width: 80%;
  min-width: 302px;
  margin: 20px auto;
}

main .list-servicos table caption {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  color: rgb(107, 107, 107);
  font-family: "Montserrat", sans-serif;
}

main .list-servicos table tr {
  border: 2px solid #ccc;
  height: 40px;
  line-height: 40px;
}

main .list-servicos table thead tr th {
  font-weight: bold;
}

main .list-servicos table tr th,
main .list-servicos table tbody tr td {
  border: 2px solid #ccc;
  text-align: center;
}

main .list-servicos table tr td i {
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
}

main .list-servicos table tr td i.fa-trash-alt {
  color: #e74c3c;
}

main .list-servicos table tr td i.fa-pencil-alt {
  color: #2ecc71;
}

@media (max-width: 650px) {
  main h1 {
    margin: 150px 15% 0 25%;
  }

  main .cad-servicos {
    margin: 40px 15% 40px 25%;
  }

  main .list-servicos {
    margin: 0 15% 20px 25%;
  }
}
