body {
  overflow-x: hidden;
}

main {
  width: 100%;
  min-height: 100vh;
  border: 1px solid transparent;
}

main h1 {
  width: 60%;
  min-width: 372px;
  text-align: center;
  margin: 150px auto 0 auto;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Montserrat", sans-serif;
}

main .alert {
  top: 80px;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

.cad-plano {
  width: 70%;
  margin: 20px auto;
  min-width: 372px;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.car-plano form {
  width: 100%;
}

.cad-plano .field-duo {
  width: 80%;
  height: 40px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.cad-plano .field-duo .field-input:first-child {
  width: 65%;
}

.cad-plano .field-duo .field-input:last-child {
  width: 32%;
}

.cad-plano form > .field-input {
  width: 80%;
  height: 100px;
  margin: 20px auto 0 auto;
}

.cad-plano .field-input {
  position: relative;
}

.cad-plano .field-input input,
.cad-plano .field-input textarea {
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: #333;
  font-size: 16px;
  padding: 0 10px;
  transition: 0.5s;
}

.cad-plano .field-input textarea {
  padding: 8px 15px 5px 10px;
  line-height: 18px;
  resize: none;
}

.cad-plano .field-input textarea::-webkit-scrollbar {
  width: 8px;
  background: #636e72;
  border-radius: 0 4px 4px 0;
}

.cad-plano .field-input textarea::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 0 5px 5px 0;
}

.cad-plano .field-input input:focus,
.cad-plano .field-input textarea:focus {
  border-color: #01baef;
}

.cad-plano .field-input .counter {
  position: absolute;
  right: 12px;
  bottom: 5px;
  color: #ccc;
}

.cad-plano .field-input input:focus ~ .counter,
.cad-plano .field-input textarea:focus ~ .counter {
  color: #01baef;
}

.cad-plano .field-input .info-field::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  background: white;
  padding: 0 3px;
  pointer-events: none;
  color: #ccc;
  font-size: 16px;
  transition: 0.5s;
}

.cad-plano .field-input input:focus ~ .info-field::before,
.cad-plano .field-input textarea:focus ~ .info-field::before {
  top: 0;
  left: 5px;
  color: #01baef;
  font-size: 14px;
}

.cad-plano .field-input input:valid ~ .info-field::before,
.cad-plano .field-input textarea:valid ~ .info-field::before {
  top: 0;
  left: 5px;
  font-size: 14px;
}

.cad-plano .field-button {
  width: 80%;
  min-width: 223px;
  margin: 30px auto 20px auto;
  height: 35px;
  text-align: center;
}

.cad-plano .field-button button {
  width: 80px;
  height: 100%;
  border: 3px solid #01baef;
  background: #01baef;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

.cad-plano .field-button button:hover {
  background: white;
  color: #01baef;
}

.cad-plano .field-button button:active {
  background: white;
  color: #058bb1;
  border-color: #058bb1;
}

main .list-planos {
  width: 70%;
  margin: 100px auto 40px auto;
  min-width: 372px;
  border-radius: 5px;
}

main .list-planos .title {
  width: 100%;
}

main .list-planos .title h1 {
  width: 100%;
  margin: 0;
  font-size: 22px;
}

main .list-planos .planos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main .list-planos .planos .card {
  margin: 30px 5px 0 5px;
  border: 2px solid #ccc;
  width: 300px;
  height: 350px;
  border-radius: 5px;
  position: relative;
  background: #fff;
  overflow: hidden;
}

main .list-planos .planos .card:hover {
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
  border: 1px solid #ccc;
}

main .list-planos .planos .card .efect {
  transition: 0.5s linear;
  opacity: 0;
}

main .list-planos .planos .card:hover .efect {
  opacity: 1;
}

.planos .card .efect:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, #771fd2);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.planos .card .efect:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #771fd2);
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.planos .card .efect:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, transparent, #771fd2);
  animation: animate3 1s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.planos .card .efect:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, transparent, #771fd2);
  animation: animate4 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

main .list-planos .planos .card .nome {
  width: 100%;
  border-bottom: 2px solid #ccc;
  height: 50px;
  transition: 0.9s;
}

main .list-planos .planos .card:hover .nome {
  border-color: #771fd2;
}

main .list-planos .planos .card .nome h1 {
  width: 100%;
  min-width: 200px;
  margin: 0;
  font-size: 18px;
  line-height: 50px;
}

main .list-planos .planos .card:hover .nome h1 {
  color: #771fd2;
}

main .list-planos .planos .card .valor {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

main .list-planos .planos .card .valor p {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

main .list-planos .planos .card .valor p span {
  font-size: 14px;
}

main .list-planos .planos .card .descricao {
  width: 100%;
  height: 180px;
  padding: 20px 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

main .list-planos .planos .card .descricao p {
  text-align: justify;
  font-size: 16px;
  color: #333;
}

main .list-planos .planos .card .acoes {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #ccc;
  transition: 0.9s;
}

main .list-planos .planos .card:hover .acoes {
  border-color: #771fd2;
}

main .list-planos .planos .card .acoes input[type="checkbox"] {
  display: none;
}

main .list-planos .planos .card .acoes i {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 26px;
  transition: 0.4s;
  cursor: pointer;
}

main .list-planos .planos .card .acoes i:hover {
  background: #ecf0f1;
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
}

main .list-planos .planos .card .acoes a i {
  color: #2ecc71;
}

main .list-planos .planos .card .acoes label i {
  color: #e74c3c;
}

main
  .list-planos
  .planos
  .card
  .acoes
  input[type="checkbox"]:checked
  ~ .excluir {
  opacity: 1;
  pointer-events: all;
  bottom: 40%;
}

main .list-planos .planos .card .acoes .excluir {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 90px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
}

main .list-planos .planos .card .acoes .excluir h3 {
  font-size: 14px;
  font-weight: bold;
  color: rgb(107, 107, 107);
  font-family: "Montserrat", sans-serif;
  width: auto;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
}

main .list-planos .planos .card .acoes .excluir button {
  width: 40px;
  height: 25px;
  outline: none;
  border: 3px solid #ccc;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

main .list-planos .planos .card .acoes .excluir button a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

main .list-planos .planos .card .acoes .excluir .btnSim {
  left: 10px;
  border-color: #2ecc71;
  background: #2ecc71;
}

main .list-planos .planos .card .acoes .excluir .btnSim:hover {
  background: #fff;
}

main .list-planos .planos .card .acoes .excluir .btnSim:hover a {
  color: #2ecc71;
}

main .list-planos .planos .card .acoes .excluir .btnNao {
  right: 10px;
  border-color: #e74c3c;
  background: #e74c3c;
}

main .list-planos .planos .card .acoes .excluir .btnNao:hover {
  background: #fff;
  color: #e74c3c;
}

@media (max-width: 700px) {
  main h1 {
    margin: 150px 15% 20px 25%;
  }

  .cad-plano {
    margin: 20px 15% 20px 25%;
  }

  main .list-planos {
    margin: 100px 15% 40px 25%;
  }
}
