.menu-config {
  background: #be5041 !important;
}

main {
  min-height: 100vh;
  border: 1px solid transparent;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}
