body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

nav {
  background: #ff6914 !important;
  box-shadow: 0 5px 15px #ccc;
}

nav .logo a::after,
nav .logo a::before {
  background: #ff6914 !important;
}

main {
  width: 100%;
  min-height: 100vh;
  border: 1px solid transparent;
}

main h1 {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
}

@media (max-width: 701px) {
  nav ul {
    background: #ff6914 !important;
  }
}
