@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main {
  height: 100vh;
  min-height: 469px;
  width: 100%;
  background: url("/SMILIPS/view/images/backgrounds/backgroundBody.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main .alert {
  top: 80px;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

main form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #filter {
  position: relative;
  width: 700px;
  min-width: 392px;
  height: 200px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  transition: 0.5s;
  margin-top: 70px;
  font-family: "Rubik", sans-serif;
}

main #filter .search {
  width: 90%;
  margin: auto;
  height: 80px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main #filter .search input {
  width: 90%;
  height: 35px;
  padding: 10px;
  margin-right: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
}

main #filter .search input::-webkit-input-placeholder {
  color: #333;
}

main #filter .search button {
  width: auto;
  height: 35px;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
  background: #771fd2;
  color: white;
}

main #filter .search button:active {
  background: #56139e;
}

main .field-input {
  display: flex;
  width: 90%;
  margin: 10px auto 0 auto;
  min-height: 60px;
}

main #filter .field-input .select-box {
  display: flex;
  margin: 0 auto;
  width: 180px;
  flex-direction: column;
}

main #filter .field-input .select-box .list-options {
  background: #fff;
  color: #333;
  max-height: 0;
  text-align: left;
  width: 100%;
  margin-top: 3px;
  opacity: 0;
  transition: 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
  z-index: 4;
  border: 1px solid #cccccc;
  pointer-events: none;
}

main #filter .field-input .select {
  background: #fff;
  border-radius: 8px;
  color: #333;
  position: relative;
  order: 0;
  text-align: left;
}

main #filter .field-input .select::after {
  content: "\f078";
  font-family: fontAwesome;
  line-height: 42px;
  text-align: center;
  color: #333;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 5px;
  top: 0;
  transition: 0.4s;
}

main #filter .field-input .select-box .list-options.active {
  max-height: 172px;
  pointer-events: all;
  opacity: 1;
}

main #filter .field-input .select-box .list-options.scrol.active {
  overflow-y: scroll;
}

main #filter .field-input .select-box .list-options.active + .select::after {
  transform: rotateX(180deg);
}

main #filter .field-input .select-box .list-options::-webkit-scrollbar {
  width: 8px;
  background: #636e72;
  border-radius: 0 8px 8px 0;
}

main #filter .field-input .select-box .list-options::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 0 8px 8px 0;
}

main #filter .field-input .select-box .select {
  padding: 12px 24px 12px 10px;
  cursor: pointer;
}

main #filter .field-input .select-box .option {
  padding: 12px 24px 12px 0;
  cursor: pointer;
  position: relative;
}

main #filter .field-input .select-box .option span {
  width: 100%;
  position: absolute;
  left: 10px;
}

main #filter .field-input .select-box .option:hover {
  background: #ccc;
}

main #filter .field-input .select-box label {
  cursor: pointer;
}

main #filter .field-input .select-box .option .radio {
  visibility: hidden;
  opacity: 0;
}

main #filter .field-input:nth-child(3) {
  position: absolute;
  top: 150px;
  left: 36px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  transition-delay: 0.1s;
}

main #filter .field-input:nth-child(3) .list-options {
  z-index: 3;
}

main #filter .field-input:nth-child(4) {
  position: absolute;
  top: 220px;
  left: 36px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

main #filter .field-input:nth-child(4) .list-options {
  z-index: 2;
}

main #filter .field-input:nth-child(3).hidden {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.1s;
}

main #filter .field-input:nth-child(4).hidden {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.2s;
}

main #filter #check {
  display: none;
}

main #filter .more #check:checked ~ label span {
  top: 300px;
}

main #filter .more span {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

main #filter span i {
  font-size: 12px;
  margin-right: 3px;
}

section.banner {
  height: 350px;
  overflow: hidden;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  z-index: 2;
}

section.banner figure {
  position: relative;
  width: 500%;
  height: 100%;
  animation: 20s banner infinite;
}

section.banner figure a img {
  width: 20%;
  height: 100%;
  float: left;
}

@keyframes banner {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

section.recomendacoes {
  height: 650px;
  background: white;
  border: 1px solid transparent;
}

section.recomendacoes h1 {
  text-align: center;
  margin-top: 70px;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

section.recomendacoes .container-card {
  width: 1000px;
  margin: 60px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 360px;
}

section.recomendacoes .container-card .list-card {
  width: 870px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  height: 360px;
  font-family: "Open Sans", sans-serif;
}

section.recomendacoes .container-card .list-card .list-card-slider {
  position: relative;
  left: 0;
  display: flex;
  transition: 0.5s;
}

section.recomendacoes .container-card .icon-voltar,
section.recomendacoes .container-card .icon-proximo {
  font-size: 20px;
  color: #771fd2;
  cursor: pointer;
}

section.recomendacoes .container-card .card {
  border: 2px solid #ebebeb;
  width: 280px;
  height: 350px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
  background: white;
}

section.recomendacoes .container-card .card:hover {
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
}
section.recomendacoes .container-card .card:hover .detalhes a {
  color: #771fd2;
}

section.recomendacoes .container-card .card .image {
  width: 100%;
  height: 170px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1.5px solid #ccc;
}

section.recomendacoes .container-card .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

section.recomendacoes .container-card .card .detalhes {
  position: relative;
  margin-top: 10px;
  height: 160px;
  line-height: 19px;
  text-align: center;
  padding: 10px;
}

section.recomendacoes .container-card .card .detalhes h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

section.recomendacoes .container-card .card .detalhes h3 span {
  font-size: 18px;
  font-weight: normal;
}

section.recomendacoes .container-card .card .detalhes p {
  margin-top: 20px;
  font-size: 16px;
  text-align: justify;
}

section.recomendacoes .container-card .card .detalhes a {
  position: absolute;
  bottom: 5px;
  color: #333;
  text-decoration: none;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 600;
}

section.oqProcura {
  position: relative;
}

section.oqProcura.active {
  margin-top: 200px;
}

section.oqProcura h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -30px;
  font-size: 28px;
  opacity: 0;
  color: #fff;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}

section.sticky h2 {
  top: 20px;
  opacity: 1;
}

section.oqProcura .selecao {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background: #ff5e57;
  border: 1px solid white;
  border-left: none;
  border-right: none;
}

section.oqProcura .selecao .card-selecao {
  width: 210px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

section.oqProcura .selecao .circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  padding: 5px;
  background: #fff;
  user-select: none;
  cursor: pointer;
}

section.oqProcura .selecao p {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 50px 0 20px 0;
}

section.oqProcura .selecao .circle img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
}

/* resposividade */

@media (max-width: 1000px) {
  section.recomendacoes .container-card {
    width: 710px;
  }
  section.recomendacoes .container-card .list-card {
    width: 580px;
  }
}

@media (max-width: 740px) {
  main {
    text-align: center;
  }
  main #filter {
    width: 80%;
    min-width: 450px;
    margin: 70px auto 0 auto;
  }
  main #filter .search {
    margin: 0 2.5%;
    width: 95%;
    padding: 0 6px;
  }
  main #filter .field-input {
    margin: 0 2.5%;
    width: 95%;
  }
  main #filter .field-input .select-box {
    margin: 10px auto;
  }
  main #filter .field-input .select-box .select {
    font-size: 14px;
    min-width: 133px;
    height: 56px;
    display: flex;
    align-items: center;
  }
  main #filter .field-input .select::after {
    top: 5px;
    right: 0;
  }
  main #filter .field-input .select-box .option {
    padding: 5px 5px 5px 0;
    font-size: 14px;
  }
  main #filter .field-input .select-box .list-options.active + .select::after {
    top: -6px;
  }
  main #filter .field-input .select-box {
    margin: 0 5px;
  }
  main #filter .field-input:nth-child(3),
  main #filter .field-input:nth-child(4) {
    left: 0;
  }
  section.recomendacoes .container-card {
    width: 400px;
  }
  section.recomendacoes .container-card .list-card {
    width: 290px;
  }
}

@media (max-width: 685px) {
  section.banner {
    top: 70px;
  }
}

@media (max-width: 639px) {
  main #filter {
    margin: 70px auto 0 auto;
  }
  section.oqProcura .selecao {
    height: 600px;
  }
  section.oqProcura .selecao .card-selecao:last-child p {
    margin-top: 0;
  }
}

@media (max-width: 560px) {
  main #filter .search {
    width: 95%;
    margin: 0 auto;
  }
  main #filter .field-input .select-box .option {
    font-size: 13px;
  }
}

@media (max-width: 429px) {
  section.oqProcura .selecao {
    height: 820px;
  }
  section.oqProcura .selecao .card-selecao:nth-child(1) p {
    margin-top: 70px;
  }
  section.oqProcura .selecao .card-selecao:nth-child(2) p {
    margin-top: 40px;
  }
}
