body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

nav {
  background: #ff6914 !important;
  box-shadow: 0 5px 15px #ccc;
}

nav .logo a::after,
nav .logo a::before {
  background: #ff6914 !important;
}

main {
  width: 100%;
  min-width: 420px;
  min-height: 100vh;
  border: 1px solid transparent;
  position: relative;
}

main .alert {
  top: 80px;
}

main h1 {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
}

main input[type="checkbox"] {
  display: none;
}

main label h3 {
  position: fixed;
  right: 0;
  top: 30%;
  width: 60px;
  height: 30px;
  text-align: right;
  padding-right: 6px;
  line-height: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #ff6914;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
  color: white;
  font-family: "Rubik", sans-serif;
  z-index: 2;
  transition: 0.5s;
}

main h3 i {
  position: absolute;
  left: 10px;
  top: 7px;
  transition: 0.5s;
}

main input[type="checkbox"]:checked ~ label h3 i {
  transform: rotate(180deg);
}

main #filter {
  position: fixed;
  top: calc(20%);
  right: -400px;
  width: 400px;
  height: 70%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: white;
  border: 2px solid #ccc;
  transition: 0.5s ease-in-out;
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
  z-index: 3;
  overflow-y: scroll;
}

main #filter::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

main #filter::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

main input[type="checkbox"]:checked ~ form #filter {
  right: 0;
}

main input[type="checkbox"]:checked ~ label h3 {
  top: 15%;
}

main #filter h3 {
  color: rgb(107, 107, 107);
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main #filter .search {
  width: 80%;
  height: 35px;
  margin: 20px auto;
}

main #filter .search input {
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: #333;
  outline: none;
  transition: 0.5s;
}

main .search input::-webkit-input-placeholder {
  color: #ccc;
}

main #filter .search input:focus {
  border-color: #01baef;
}

main #filter .field_options {
  width: 83%;
  height: 45px;
  border-radius: 5px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

main #filter .select-box {
  display: flex;
  width: 47%;
  flex-direction: column;
  margin: auto;
}

main #filter .field_options:nth-child(4) .select-box {
  width: 97%;
}

main #filter .select-box .list-options {
  background: #fff;
  color: #333;
  max-height: 0;
  text-align: left;
  width: 100%;
  margin: 3px 0 10px 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.4s;
  border-radius: 8px;
  order: 1;
  border: 1px solid #cccccc;
  pointer-events: none;
}

main #filter .field_options:nth-child(3) .select-box .list-options {
  z-index: 5;
}

main #filter .field_options:nth-child(4) .select-box .list-options {
  z-index: 4;
}

main #filter .field_options:nth-child(5) .select-box .list-options {
  z-index: 3;
}

main #filter .field_options:nth-child(6) .select-box .list-options {
  z-index: 2;
}

main #filter .field_options:nth-child(7) .select-box .list-options {
  z-index: 1;
}

main #filter .select {
  background: #fff;
  border-radius: 8px;
  color: #333;
  position: relative;
  order: 0;
  border: 2px solid #ccc;
  text-align: left;
  font-size: 14px;
}

main #filter .select::after {
  content: "\f078";
  font-family: fontAwesome;
  line-height: 42px;
  text-align: center;
  color: #333;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 0;
  top: 0;
  transition: 0.4s;
}

main #filter .select-box .list-options.active {
  max-height: 172px;
  pointer-events: all;
  opacity: 1;
}

main #filter .select-box .list-options.scrol.active {
  overflow-y: scroll;
}

main #filter .select-box .list-options.active + .select::after {
  transform: rotateX(180deg);
}

main #filter .select-box .list-options::-webkit-scrollbar {
  width: 8px;
  background: #636e72;
  border-radius: 0 8px 8px 0;
}

main #filter .select-box .list-options::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 0 8px 8px 0;
}

main #filter .select-box .select {
  padding: 12px 24px 12px 10px;
  cursor: pointer;
}

main #filter .select-box .option {
  padding: 12px 24px 12px 0;
  cursor: pointer;
  position: relative;
}

main #filter .select-box .option span {
  width: 100%;
  position: absolute;
  left: 10px;
}

main #filter .select-box .option:hover {
  background: #ccc;
}

main #filter .select-box label {
  cursor: pointer;
}

main #filter .select-box .option .radio {
  visibility: hidden;
  opacity: 0;
}

main #filter .button {
  width: 80%;
  height: 40px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #filter .button button {
  width: 130px;
  height: 100%;
  border: 3px solid #01baef;
  border-radius: 5px;
  font-size: 18px;
  background: white;
  color: #01baef;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

main #filter .button button:active,
main #filter .button button:hover {
  background: #01baef;
  color: white;
}

main .imoveis_disponiveis {
  width: 404px;
  margin: 40px auto;
  transition: 0.5s;
}

main .imoveis_disponiveis .card_imovel {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 40px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  transition: 0.3s;
}

main .imoveis_disponiveis .card_imovel:hover {
  box-shadow: rgb(0 0 0 / 20%) 0 4px 16px;
}

main .imoveis_disponiveis .card_imovel .image {
  width: 400px;
  height: 250px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 2px solid #ccc;
  transition: 0.5s;
}

main .imoveis_disponiveis .card_imovel .image .imgs {
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
  transition: 0.5s;
}

main .imoveis_disponiveis .card_imovel .image .imgs img {
  width: 400px;
  height: 100%;
  object-fit: cover;
  image-rendering: optimizeQuality;
  transition: 0.5s;
}

main .imoveis_disponiveis .card_imovel .image span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #bdc3c7;
  font-size: 20px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 2;
}

main .imoveis_disponiveis .card_imovel .image .icon-voltar {
  left: -30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

main .imoveis_disponiveis .card_imovel .image .icon-proximo {
  right: -30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

main .imoveis_disponiveis .card_imovel .image:hover span {
  opacity: 1;
  pointer-events: all;
}

main .imoveis_disponiveis .card_imovel .image:hover .icon-voltar {
  left: 0;
}

main .imoveis_disponiveis .card_imovel .image:hover .icon-proximo {
  right: 0;
}

main .imoveis_disponiveis .card_imovel .descricao {
  width: 100%;
  height: 250px;
  padding: 15px;
  position: relative;
}

main .imoveis_disponiveis .card_imovel .descricao .value {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

main .imoveis_disponiveis .card_imovel .descricao .value span {
  font-size: 18px;
  font-weight: normal;
}

main .imoveis_disponiveis .card_imovel .descricao .desc {
  width: 100%;
  font-size: 21px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  margin-bottom: 5px;
}

main .imoveis_disponiveis .card_imovel .descricao .end {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 19px;
  margin-bottom: 30px;
  color: #333;
}

main .imoveis_disponiveis .card_imovel .descricao .info {
  width: 100%;
  font-size: 16px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
  font-family: "Open Sans", sans-serif;
}

main .imoveis_disponiveis .card_imovel .descricao .detalhes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
  transition: 0.5s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

main .imoveis_disponiveis .card_imovel:hover .descricao .detalhes {
  background: #ff6914;
}

main .imoveis_disponiveis .card_imovel .descricao .detalhes a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

main .imoveis_disponiveis .card_imovel:hover .descricao .detalhes a {
  color: white;
}

main .imoveis_disponiveis .card_imovel .descricao .detalhes a:hover {
  color: #bdc3c7;
}

@media (max-width: 944px) {
  main h1.top {
    margin-top: 400px;
  }
  main .card_imovel.middle {
    margin-bottom: 300px;
  }
  main .imoveis_disponiveis.bottom {
    margin-bottom: 350px;
  }
}

@media (max-width: 701px) {
  nav ul {
    background: #ff6914 !important;
  }
}

@media (max-width: 565px) {
  main .imoveis_disponiveis {
    width: 300px;
  }
  main .imoveis_disponiveis .card_imovel .image {
    width: 296px;
    height: 200px;
  }
  main .imoveis_disponiveis .card_imovel .image .imgs img {
    width: 296px;
  }

  main .imoveis_disponiveis .card_imovel .descricao {
    height: 180px;
  }
  main .imoveis_disponiveis .card_imovel .descricao .value {
    font-size: 20px;
    margin-bottom: 15px;
  }
  main .imoveis_disponiveis .card_imovel .descricao .value span {
    font-size: 16px;
  }
  main .imoveis_disponiveis .card_imovel .descricao .desc {
    font-size: 16px;
    margin: 0;
  }
  main .imoveis_disponiveis .card_imovel .descricao .end {
    font-size: 14px;
    margin-bottom: 5px;
  }
  main .imoveis_disponiveis .card_imovel .descricao .info {
    font-size: 12px;
  }
  main .imoveis_disponiveis .card_imovel .descricao .detalhes {
    height: 30px;
  }
  main .imoveis_disponiveis .card_imovel .descricao .detalhes a {
    font-size: 18px;
  }
}
