@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 5;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 80px;
  border-bottom: 2px solid white;
  transition: 0.4s;
  box-shadow: rgb(0 0 0 / 20%) 0 4px 10px;
}

nav.active {
  background: #ff6914;
}

nav::after {
  content: "";
  clear: both;
  display: table;
}

nav .logo {
  float: left;
  padding: 0 50px;
  height: 80px;
  line-height: 85px;
}

nav .logo a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 27px;
  line-height: 70px;
  font-weight: 600;
  padding: 8px;
  border: 2px solid white;
  border-radius: 5px;
  font-family: -apple-system, "Segoe UI", "Open Sans", "Helvetica Neue",
    sans-serif;
}

nav .logo a::after,
nav .logo a::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background: rgb(60, 60, 60);
  transform: skewX(50deg);
  transition: 0.4s linear;
}

nav.active .logo a::after,
nav.active .logo a::before {
  background: #ff6914;
}

nav .logo a::before {
  top: -2px;
  left: 10px;
}

nav .logo a::after {
  bottom: -2px;
  right: 10px;
}

nav .logo a:hover::before {
  left: 80%;
}

nav .logo a:hover::after {
  right: 80%;
}

nav ul {
  float: right;
  margin-right: 20px;
  position: relative;
}

nav ul li {
  display: inline-block;
  background: transparent;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 20px;
  font-family: -apple-system, "Segoe UI", "Open Sans", "Helvetica Neue",
    sans-serif;
}

nav ul li a:hover {
  border-radius: 5px;
  box-shadow: 0 0 5px white, 0 0 5px white;
}

nav .fas {
  margin-left: 5px;
  font-size: 15px;
}

nav .fa-caret-right {
  margin-left: 40px;
  font-size: 15px;
}

nav #menu,
nav .icon i {
  display: none;
}

nav .fa-sign-in-alt {
  font-size: 16px;
  margin-right: 5px;
}

/* Responsividade */

@media (max-width: 860px) {
  nav ul {
    margin-right: 20px;
  }
  nav ul li a {
    padding: 8px 10px;
  }
  nav .logo {
    padding: 0 30px;
  }
}

@media (max-width: 701px) {
  nav {
    height: 70px;
  }
  nav ul {
    margin-right: 0;
    float: right;
    height: 380px;
    width: 50%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transition: 0.4s;
  }
  nav.active ul {
    background: #ff6914;
  }
  nav .logo {
    padding: 0 60px;
    width: 100%;
    height: 70px;
    line-height: 70px;
  }
  nav .logo a {
    font-size: 24px;
  }
  nav ul li {
    background: transparent;
    display: flex;
    width: 100%;
    height: 20%;
  }
  nav ul li:hover {
    box-shadow: 0 0 5px white, 0 0 5px white;
  }
  nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  nav .icon {
    display: block;
    margin-top: 23px;
    width: 22px;
    height: 25px;
    position: absolute;
    right: 50px;
    cursor: pointer;
  }
  nav .icon i {
    display: block;
    color: white;
    font-size: 25px;
  }
  nav label .hide {
    display: none;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  nav ul {
    display: none;
  }
  nav #menu:checked ~ ul {
    display: block;
    z-index: 2;
  }
}

@media (max-width: 450px) and (max-width: 701px) {
  nav .logo {
    padding: 0 20px;
  }
  nav .logo a {
    font-size: 20px;
  }
  nav ul {
    width: 100%;
    border-left: none;
  }
  nav .icon {
    right: 20px;
  }
}

@media (max-height: 550px) and (max-width: 701px) {
  nav ul {
    height: calc(100vh - 70px);
    overflow-y: scroll;
  }
  nav ul li {
    display: flex;
    height: 16.5%;
  }
  nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-height: 350px) {
  nav ul li a {
    font-size: 16px;
  }
}
