body::-webkit-scrollbar {
  width: 10px;
  background: #636e72;
}

body::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 5px;
}

nav {
  background: #ff6914 !important;
  box-shadow: 0 5px 15px #ccc;
}

nav .logo a::after,
nav .logo a::before {
  background: #ff6914 !important;
}

main {
  width: 100%;
  min-height: 100vh;
  border: 1px solid transparent;
}

main .alert {
  top: 80px;
}

main .search {
  margin: 150px 40px 0 0;
  width: 250px;
  height: 40px;
  border-radius: 17.5px;
  position: relative;
  float: right;
}

main .search input {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  border: 2px solid #ccc;
  padding: 0 15px;
  transition: 0.5s;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}

main .search input::-webkit-input-placeholder {
  color: #ccc;
}

main .search input:focus,
main .search input:focus ~ button {
  border-color: #01baef;
}

main .search button {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: none;
  border: 2px solid #ccc;
  transition: 0.5s;
}

main .search button i {
  font-size: 20px;
  color: #01baef;
}

main h1 {
  width: 100%;
  text-align: center;
  margin-top: 200px;
  font-weight: 600;
  font-size: 24px;
  color: rgb(107, 107, 107);
  font-family: "Poppins", sans-serif;
}

main .card {
  width: 750px;
  margin: 20px auto 40px;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

main .card:hover {
  box-shadow: 0 5px 15px #ccc;
}

main .card .ftPerfil {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 20px 5px 20px 20px;
  overflow: hidden;
  cursor: pointer;
  background: #ccc;
}

main .card .ftPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .card .info_servico {
  width: 525px;
  height: 200px;
  border-radius: 5px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  position: relative;
  overflow: hidden;
}

main .card .info_servico .nomeUsuario {
  font-size: 18px;
  font-weight: 600;
  color: rgb(107, 107, 107);
  font-family: "Rubik", sans-serif;
  margin-bottom: 5px;
}

main .card .info_servico .tipo_servico {
  font-size: 16px;
  color: rgb(107, 107, 107);
  font-family: "Rubik", sans-serif;
}

main .card .info_servico .descricao {
  font-size: 16px;
  height: 130px;
  color: rgb(107, 107, 107);
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  line-height: 20px;
}

main .card .info_servico .detalhes {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  position: absolute;
  bottom: -20px;
  transition: 0.5s;
}

main .card:hover .info_servico .detalhes {
  bottom: 5px;
}

main .card .info_servico .detalhes a {
  color: rgb(107, 107, 107);
  text-decoration: none;
  transition: 0.5s;
}

main .card .info_servico .detalhes a:hover {
  color: #ff6914;
}

@media (max-width: 800px) {
  main .search {
    margin-top: 130px;
  }

  main .card {
    width: 550px;
  }

  main .card .ftPerfil {
    width: 150px;
    height: 150px;
  }

  main .card .info_servico {
    width: 400px;
    padding: 10px;
  }
}

@media (max-width: 701px) {
  nav ul {
    background: #ff6914 !important;
  }
}

@media (max-width: 590px) {
  main .search {
    left: -40%;
    transform: translateX(50%);
  }

  main .card {
    width: 350px;
  }

  main .card .ftPerfil {
    width: 100px;
    height: 100px;
  }

  main .card .info_servico {
    width: 200px;
    padding: 10px;
  }
}
