.propaganda {
  width: 350px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
}

.propaganda.p1 {
  top: 150px;
  left: 10px;
}

.propaganda.p2 {
  top: 550px;
  right: 10px;
}

.propaganda.p3 {
  top: 1050px;
  left: 10px;
}

.propaganda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1164px) {
  .propaganda {
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 944px) {
  .propaganda.p1 {
    width: 404px;
    height: 250px;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
  }
  .propaganda.p2 {
    width: 404px;
    height: 250px;
    top: calc(50% + 330px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .propaganda.p3 {
    width: 404px;
    height: 250px;
    top: 89%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 565px) {
  .propaganda.p1 {
    width: 100%;
    border-radius: 0;
  }
  .propaganda.p2 {
    width: 100%;
    top: calc(50% + 265px);
    border-radius: 0;
  }
  .propaganda.p3 {
    width: 100%;
    top: 87%;
    border-radius: 0;
  }
}
