<link rel="stylesheet" href="/SMILIPS/view/css/nav.css">
<nav>
    <div class="logo">
        <a href="/SMILIPS/view/pages/home.php">SMILIPS</a>
    </div>
    <input type="checkbox" id="menu">
    <label for="menu" class="icon">
        <i class="fa fa-bars "></i>
        <i class="fas fa-times hide "></i>
    </label>
    <ul>
        <li><a href="/SMILIPS/view/pages/home.php">Home</a></li>
        <li>
            <a href="#">Imóveis</a>
        </li>
        <li>
            <a href="#">Sobre</a>
        </li>
        <li><a href="#">Ajuda</a></li>
        <li><a href="#">Contato</a></li>
        <li>
            <a href="/SMILIPS/view/pages/login.php">
                <i class="fas fa-sign-in-alt "></i></i>Login
            </a>
        </li>
    </ul>



</nav>

<script src="/SMILIPS/view/js/nav.js "></script>