<link rel="stylesheet" href="/SMILIPS/view/css/nav.css">
<nav>
    <a href="#" class="logo">SMILIPS</a>
    <label for="btn" class="icon">
        <i class="fa fa-bars"></i>
        <i class="fas fa-times hide"></i>
    </label>
    <input type="checkbox" id="btn">
    <ul>
        <li><a href="#">Home</a></li>
        <li>
            <a href="#">Imóveis</a>
        </li>
        <li>
            <a href="#">Sobre</a>
        </li>
        <li><a href="#">Ajuda</a></li>
        <li><a href="#">Contato</a></li>
        <li>
            <a href="#">
                <i class="fas fa-sign-in-alt"></i></i>Login
            </a>
        </li>
    </ul>

</nav>

<script src="/SMILIPS/view/js/nav.js"></script>